*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    max-height: 100%;
    background-color: black;
}
nav{
    padding: 3px 3%;
    display: flex;
    
    margin-left: 30%;

}
/*nav ul{
    
    float:left;
    color: white;
    display: flex;
    gap: 20px;
    
}
nav ul li{
    margin-top: 10px;
    display: inline;
    list-style:none;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 100px;
    
}
*/


nav a{
    float: left;
    text-decoration: none;
    padding: 30px 10px;
    display: inline;
    color: white;

}
.logo{
  font-size:20px; 
  text-transform:uppercase; 
  color:#002e5b; 
  font-weight:bold;
  float:left;
  padding: 20px; 
  margin-left:40px;
}
.end{
    margin-left: 50%;
}
.pink{
    margin-top: 30px;
    position: absolute;
    
}
.contact{
    position: relative;
}
.leftside{
    margin-top: 100px;
}
h1{
    color: white;
    font-size: 120px;
    margin-left: 70px;

}
span{
    color: rgb(238, 9, 154);

    
}
.details{
    color: white;
    margin-left: 70px;
    font-size: 20px;
}
.started{
    color: white;
    top:0px;
    margin-top: 70px;
    margin-left: 70px;
    font-size: 20px;
    padding: 20px 10px;
}
.getlogo{
    position: absolute;
    margin-left: -20px;
}
.get{
    position: relative;
}
.arrow{
    display: flex;
    margin-left: 200px;
    margin-top:-19px;
    align-items: center;
}
.rightside{
    float: right;
    display: flex;
   
    
    
}
.backcards{
    position: absolute;
    top:0px;
    margin-top: 60px;
    margin-left: 80px;
}
.frontcards{
    position: relative;
    top:-400px;
    right:-200px;
}
h2{
    color:aliceblue;
    margin-left: 70px;
}
.span{
    color: rgb(247, 19, 156);
}
.vector{
    margin-left: 400px;
    margin-top: -90px;

}
h1{
    font-size: 60px;
}
.happy{
    margin-top: -60px;
    margin-left: 220px;
}
.rightyear{
    margin-left: 350px;
    margin-top: -70px;
}
.years{
    
    margin-left: 220px;
    margin-top: -60px;
}
.border-wrap{
 display: flex;
 gap:60px;
 justify-content: space-between;
 padding:90px;
 background-color: rgb(29, 28, 28);
 width:100%
 
}

/*this is section2*/
.text1{
    font-size: 100px;
}
.right{
    color: white;
    font-size: 30px;
    margin-left: 1000px;
    position: relative;
    top:-250px;

    
    
}
.section2{
    position: absolute;
}
.imgsection2{
    display: flex;
    color: aliceblue;
    margin-left: 200px;
    gap:10px;
}
.doloar{
    border: 1px solid rgb(204, 199, 199);
    margin-left: 30px;
    background-color: rgb(60, 58, 58);
    height: 250px;
    width:300px;
    text-align: center;
    margin-top: 30px;
}
.cloud{
    border: 1px solid rgb(204, 199, 199);
    margin-left: 30px;
    background-color: rgb(60, 58, 58);
    height: 250px;
    width:300px;
    text-align: center;
    margin-top: 5px;
    border-top: 2px solid blanchedalmond;
    border-left: 2px solid white;
}
.lock{
    border: 1px solid rgb(204, 199, 199);
    margin-left: 30px;
    background-color: rgb(60, 58, 58);
    height: 250px;
    width:300px;
    text-align: center;
    margin-top: 30px;
    border-top: 2px solid blanchedalmond;
    border-left: 2px solid white;
}
.section3{
    background-color: white;
    text-align: center;
    margin-top: 15
     
}
.text2{
    color: rgb(9, 9, 9);
    margin-top: 800px;
}
.cardprovide{
    margin-top:60px;
    font-size: 20px;
    color: rgb(63, 62, 62);
    
}
.backcard{
    margin-top: -70px;
}
.section-4{
    text-align: center;
    margin-top: 60px;
}
.text3{
    color:rgb(173, 157, 157);
    font-size: 20px;
    margin-top: 30px;
}
.star{

    color:white;
    border: 1px solid rgb(204, 199, 199);
    margin-left: 30px;
    background-color: rgb(60, 58, 58);
    height: 250px;
    width:300px;
    margin-top: 30px;
    border-top: 2px solid blanchedalmond;
    border-left: 2px solid white;
    
}
.logosection3{
    display: flex;
    gap:50px;
    margin-left:20%;
    margin-top: 80px;
}
.starlogo5{
    margin-top: 10px;

    
}
.star5{
    color: rgb(234, 228, 228);
    border: 3px solid rgb(204, 199, 199);
    height: 200px;
    width:450px;
    border-right: 1px solid rgb(102, 99, 99);
    margin-left: 20px;
    padding: 2px 20px;
    background-color: rgb(90, 87, 87);
}
.text4{
    margin-top: 20px;
    text-align: start;
}
.author1{
    margin-top: 20px;
    text-align: start;

}
.starlogo4{
    margin-top: 10px;
    
}
.star4{
    background-color: rgb(19, 18, 18);
    color: rgb(235, 222, 222);
    border-top: 1px solid rgb(204, 199, 199);
    height: 200px;
    width:450px;
    padding: 2px 20px;
    border-top: 1px solid rgb(102, 99, 99);
    border-left: 3px solid rgb(204, 199, 199);
}

.text5{
    margin-top: 30px;
    text-align: start;
}
.author2{
    margin-top: 25px;
    color:white;
    text-align: start;
}
.logosection3-1{
    display: flex;
    gap:50px;
    margin-left:21%;
    margin-top: 80px;
}
.starlogo4-1{
    margin-top: 10px;
    
}
.star4-1{
    background-color: rgb(19, 18, 18);
    color: rgb(235, 222, 222);
    border-top: 1px solid rgb(204, 199, 199);
    height: 200px;
    width:450px;
    padding: 2px 20px;
    border-top: 1px solid rgb(102, 99, 99);
    border-left: 3px solid rgb(204, 199, 199);
}

.text6{
    margin-top: 30px;
    text-align: start;
}
.author3{
    margin-top: 25px;
    color:white;
    text-align: start;
}
.starlogo5-1{
    margin-top: 10px;
    
}
.star5-1{
    background-color: rgb(19, 18, 18);
    color: rgb(235, 222, 222);
    border-top: 1px solid rgb(204, 199, 199);
    height: 200px;
    width:450px;
    padding: 2px 20px;
    border-top: 1px solid rgb(102, 99, 99);
    border-left: 3px solid rgb(204, 199, 199);
}

.text7{
    margin-top: 30px;
    text-align: start;
}
.author4{
    margin-top: 25px;
    color:white;
    text-align: start;
}
.dimond{
    
    display: flex;
    gap:40%;
    margin-left: auto;
    margin-top:-500px;
    position: relative;

}
.left-dimond{
    float: left;

}
.rectangle{
    display: flex;
    margin-top: 200px;
    
}
.rectanlge-left{
    position: relative;
    opacity: 0.1;
}
.rectangle-right{
    position: absolute;
    
}

.pink-start{
    position: relative;
    margin-top: -350px;
}
.coustom{
    color:black;

}
.started-2{
    color: white;
    top:0px;
    margin-top: 30px;
    margin-left: 70px;
    font-size: 20px;
    padding: 20px 10px;
}
.getlogo-2{
    position: absolute;
    margin-left:-100px;
}
.get-2{
    position: relative;
}
.arrow-2{
    display: flex;
    margin-left: 820px;
    align-items: center;
    position: relative;
    margin-top: -20px;
}
.footer{
   position: absolute;
   bottom: 0;
   left:0;
   width:100%;
   height:25px;
   text-align: center;
   
   
}
.sitefootbar{

    bottom:0;
    padding-top: 80px;
    width:100%;
    height:80px;
    margin-top: 20px;
}
.footer-logo{
    margin-top: 50px;
    margin-left: 50px;
}

.footerlinks{
    text-align: center;
   }
   .footerlinks ul{
    padding: 0;
    list-style: none;
    margin: 60px;
   }
   .footerlinks li{
    display: inline;
    font-size: 20px;
    padding: 20px;

   }
   .footerlinks a{
    color:white;
    text-decoration: none;
}
