body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
  }
  nav {
    padding: 15px 10%;
    height: 10vh;
    display: inline-block;
  }

  nav ul {
  
    gap: 40px;
    align-items: center;
    color: rgb(14, 13, 13);
  }

  nav ul li {
    margin-top: 20px;
    margin-bottom: 5px;
    list-style: none;
    text-align: center;
    font-weight: 500;
    align-items: center;
  }
  .logo{
      margin: 0px;
  }
  .searchicon {
    width: 20px;
    margin-left: 250px;
    gap: 0px;


  }
  .global{
      margin-left: 600px;
  }
  .btn1 {
    border-radius: 10px;
    width: 100px;
  }
  .man {
    position: relative;
    top: 0px;
    left: 0px;
    max-height: 50%;
    margin-left: 130px;
    margin-top: 50px;
    
  }

  .squre {
    
    position: absolute;
    margin-left: 180px;
    margin-top: 140px;
  }